<nav
  class="relative z-10 flex flex-wrap items-center justify-between px-6 py-4 bg-white shadow-xl md:left-0 md:block md:fixed md:top-0 md:bottom-0 md:overflow-y-auto md:flex-row md:flex-nowrap md:overflow-hidden md:w-64"
>
  <div
    class="flex flex-wrap items-center justify-between w-full px-0 mx-auto md:flex-col md:items-stretch md:min-h-full md:flex-nowrap"
  >
    <!-- Toggler -->
    <button
      class="px-3 py-1 text-xl leading-none text-black bg-transparent border border-transparent border-solid rounded opacity-50 cursor-pointer md:hidden"
      type="button"
      
    >
      <i class="fas fa-bars"></i>
    </button>
    <!-- Brand -->
    <a
      [routerLink]="['/']"
      class="inline-block p-4 px-0 mr-0 text-sm font-bold text-left uppercase md:block md:pb-2 text-blueGray-600 whitespace-nowrap"
    >
      
      <img src="assets/img/united-system-logo.png" class="mx-auto mt-5">
    </a>
    <!-- User -->

    <!-- Collapse -->
    <div
      class="absolute top-0 left-0 right-0 z-40 items-center flex-1 h-auto overflow-x-hidden overflow-y-auto rounded shadow md:flex md:flex-col md:items-stretch md:opacity-100 md:relative md:mt-4 md:shadow-none"
     
    >
      <!-- Collapse header -->
      <div
        class="block pb-4 mb-4 border-b border-solid md:min-w-full md:hidden border-blueGray-200"
      >
        <div class="flex flex-wrap">
          <div class="w-6/12">
            <a
              [routerLink]="['/']"
              class="inline-block p-4 px-0 mr-0 text-sm font-bold text-left uppercase md:block md:pb-2 text-blueGray-600 whitespace-nowrap"
            >
            </a>
          </div>
          <div class="flex justify-end w-6/12">
            <button
              type="button"
              class="px-3 py-1 text-xl leading-none text-black bg-transparent border border-transparent border-solid rounded opacity-50 cursor-pointer md:hidden"
            >
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
      </div>
      <!-- Form -->
      <form class="mt-6 mb-4 md:hidden">
        <div class="pt-0 mb-3">
          <input
            type="text"
            placeholder="Search"
            class="w-full h-12 px-3 py-2 text-base font-normal leading-snug bg-white border border-0 border-solid rounded shadow-none outline-none border-blueGray-500 placeholder-blueGray-300 text-blueGray-600 focus:outline-none"
          />
        </div>
      </form>

      <!-- Divider -->
      <hr class="my-4 md:min-w-full" />
  

      <!-- Navigation -->

      <ul class="flex flex-col list-none md:flex-col md:min-w-full">
        <li class="items-center">
          <a
            [routerLink]="['/admin/dashboard']"
            class="block py-3 text-xs font-bold uppercase"
            routerLinkActive
            #adminDashboard="routerLinkActive"
            [ngClass]="
              adminDashboard.isActive
                ? 'text-red-600 hover:text-red-700'
                : 'text-blueGray-700 hover:text-blueGray-500'
            "
          >
            <i
              class="mr-2 text-sm fas fa-tv"
              [ngClass]="
                adminDashboard.isActive ? 'opacity-75' : 'text-blueGray-300'
              "
            ></i>
            Dashboard
          </a>
        </li>

        <li class="items-center">
          <a
            [routerLink]="['/admin/settings']"
            class="block py-3 text-xs font-bold uppercase"
            routerLinkActive
            #adminSettings="routerLinkActive"
            [ngClass]="
              adminSettings.isActive
                ? 'text-red-600 hover:text-red-700'
                : 'text-blueGray-700 hover:text-blueGray-500'
            "
          >
            <i
              class="mr-2 text-sm fas fa-tools"
              [ngClass]="
                adminSettings.isActive ? 'opacity-75' : 'text-blueGray-300'
              "
            ></i>
            Bookmarked
          </a>
        </li>

        <li class="items-center">
          <a
            [routerLink]="['/admin/tables']"
            class="block py-3 text-xs font-bold uppercase"
            routerLinkActive
            #adminTables="routerLinkActive"
            [ngClass]="
              adminTables.isActive
                ? 'text-red-600 hover:text-red-700'
                : 'text-blueGray-700 hover:text-blueGray-500'
            "
          >
            <i
              class="mr-2 text-sm fas fa-table"
              [ngClass]="
                adminTables.isActive ? 'opacity-75' : 'text-blueGray-300'
              "
            ></i>
            Recent
          </a>
        </li>

        <li class="items-center">
          <a
            [routerLink]="['/admin/maps']"
            class="block py-3 text-xs font-bold uppercase"
            routerLinkActive
            #adminMaps="routerLinkActive"
            [ngClass]="
              adminMaps.isActive
                ? 'text-red-600 hover:text-red-700'
                : 'text-blueGray-700 hover:text-blueGray-500'
            "
          >
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
