<div>
  <section class="relative w-full h-full min-h-screen py-40">
    <div
      class="absolute top-0 w-full h-full bg-gray-100 bg-no-repeat bg-cover"
      style="background-image: url('assets/img/bg-login.svg')"
    >
      <img src="assets/img/alliance-logger-logo.svg" class="mx-auto mt-5" />
      <div class="mt-8 mb-5 text-center">
        <span class="text-3xl font-extrabold text-center text-gray-800">Sign in with your credentials</span>
      </div>
      <login-card></login-card>
    </div>

    <login-footer></login-footer>
  </section>
</div>
